
*{
	margin: 0;
	padding: 0;
}

#indexBody{
	background-color: orange;
}

.bouton{
	width: 50px;
	height: 50px;
	font-size: 25px;
	margin:2px;
	cursor: pointer;
	background-color: white;
	color: black;
}

.egale{
	background-color: orange;
	color: white;
	border-radius: 14px;
}
.ac{
	background-color: red;
	color: white;
	font-size: 16px;
}
.del{
    background-color: red;
	color: white;
	font-size: 16px;
}
.champsTexte{
	width: 200px;
	margin: 5px;
	font-size: 25px;
	padding: 5px;
	border-radius: 10px;

}

.principaleIndex{
	position: absolute;
	top:  50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
}

.principaleIndex p{
	color: white;
	font-size: 24px;
	font-family: cursive;
}

#salutation{
	margin-bottom: 30px;	
}

.principale{
	position: absolute;
	top:  50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background-color: orange;
}

.principale p{
    text-align: center;
    font-size: 25px;
    font-family: cursive, serif;
    background-color: orange;
    color: white;
    border-radius: 40px;
}

a{
	font-family: serif;
	text-decoration: none;
	color:red;
}

#calculatrice a{
	padding-top: 20px;
	padding-left: 10px; 
}

@media (max-width: 768px){
	
   .principaleIndex p{
   	font-size: 16px;
   	margin-bottom: 16px;
   }
   .principaleIndex{
	position: absolute;
	top:  50%;
	left: 20%;
	transform: translateX(-10%) translateY(-50%);
	text-align: center;
}

}